
:root {
  --font-sans: Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    sans-serif;
  --font-serif: "Roboto", Georgia, "Times New Roman", Times, "SimSun", "宋体",
    serif;
}

body {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.calendar-container {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 0.5rem 1rem 1.5rem;
  width: 100vw;
  position: relative;
  font-family: var(--font-serif);
}

.cal-header {
  flex: 1 100%;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0.7rem;
  text-transform: uppercase;
}

.cal-body {
  display: flex;